body{
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
}
button.button {
    background-color: #48abe0;
    color: white;
    border: none;
    padding: 20px;
    font-size: 21px;
    margin: 0px 3px;
    width: 66px;
    box-shadow: 0 2px 4px darkslategray;
    border-radius: 50%;
  }
button.button:hover {
    background-color: #65b9e6;
   }
   
   button.button:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}
.row{
    margin: 8px 0;
}

.row input{
    width:290px;    
    margin: 10px;
    padding: 10px 0;
    border:2px solid black;

}